*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.target{
    width: 500px;
    background-color: #eee;
    box-shadow: 1px 1px 10px black;
    padding: 30px;
    margin: 50px auto;
}
.target h1{
    text-align: center;
    line-height: 50px;
}
.target p{
    font-size: 13px;
    text-align: left;
    text-decoration: underline;
    line-height: 30px;
}
blockquote{
    font-style: oblique;
}